.headerRootContainer {
  width: 700px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  // margin: 5rem 0rem 5rem 23.25rem;
  margin: 5rem 0rem 4rem 0rem;
}

// .headerSlugContainer {
//   width: 1120px;

//   display: flex;
//   align-items: center;
//   justify-content: flex-start;

//   margin: 2.5rem 0rem;

//   img {
//     padding-left: 16rem;
//   }

// }
